<a href="https://colab.research.google.com/github/BloomTech-DS/bootcamp-python/blob/main/Bootcamp_55.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Map

In [5]:
def square(num):
  return num**2

In [6]:
my_nums = [1, 2, 3, 4, 5]

In [8]:
for item in map (square, my_nums):
  print(item)

1
4
9
16
25

In [9]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [10]:
def splicer(mystring):
  if len(mystring)%2 == 0:
    return 'EVEN'
  else:
    return mystring[0]

In [11]:
names = ['Andy', 'Eve', 'Sally']

In [12]:
list(map(splicer, names))

['EVEN', 'E', 'S']

## Filter

In [13]:
def check_even(num):
  return num%2 == 0

In [14]:
mynums = [1,2,3,4,5,6]

In [15]:
list(filter(check_even, mynums))

[2, 4, 6]

In [16]:
filter(check_even, mynums)

In [17]:
for n in filter(check_even, mynums):
  print(n)

2
4
6

## Lambda Expression

In [18]:
def square(num):
  result = num ** 2
  return result

In [19]:
square(3)

9

In [22]:
lambda num: num **2

In [23]:
square(3)

9

In [25]:
list(map(lambda num:num**2, my_nums))

[1, 4, 9, 16, 25]

In [27]:
list(filter(lambda num:num%2 ==0, mynums))

[2, 4, 6]

In [28]:
names

['Andy', 'Eve', 'Sally']

In [30]:
list(map(lambda x:x[::-1], names))

['ydnA', 'evE', 'yllaS']