<a href="https://colab.research.google.com/github/rjgeng/bootcamp-python/blob/main/Bootcamp_51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Practice Exercises - Solutions

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
def lesser_of_two_evens(a, b):

  if  a%2 == 0 and b%2 == 2:
    # BOTH NUMBERS ARE EVEN!
    return min(a, b)
  else:
    # ONE OR BOTH NUMBER ARE ODD!
    return max(a, b)

In [10]:
lesser_of_two_evens(2, 4)

4

In [11]:
lesser_of_two_evens(3, 5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [28]:
def animal_crackers(text):
  wordlist = text.lower().split()
    
  return wordlist[0][0] == wordlist[1][0]

In [29]:
# Check
animal_crackers('Levelheaded Llama')

True

In [32]:
# Check
animal_crackers('Crazy Kangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [36]:
def makes_twenty(n1, n2):
  return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [37]:
# Check
makes_twenty(20, 10)

True

In [38]:
# Check
makes_twenty(2, 3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
  first_letter = name[0]
  inbetween = name[1:3]
  fourth_letter = name[3]
  rest = name[4:]

  return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [42]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [46]:
def old_macdonald(name):
  first_half = name[:3]
  second_half = name[3:]

  return first_half.capitalize() + second_half.capitalize()

In [48]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [71]:
def master_yoda(text):  
  return ' '.join(text.split()[::-1])

In [72]:
# Check
master_yoda('I am home')

'home am I'

In [74]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [75]:
def almost_there(n):
  return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [76]:
# Check
almost_there(104)

True

In [77]:
# Check
almost_there(150)

False

In [78]:
# Check
almost_there(209)

True