<a href="https://colab.research.google.com/github/BloomTech-DS/bootcamp-python/blob/main/Bootcamp_51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Practice Exercises - Solutions

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [9]:
def lesser_of_two_evens(a, b):

  if  a%2 == 0 and b%2 == 2:
    # BOTH NUMBERS ARE EVEN!
    return min(a, b)
  else:
    # ONE OR BOTH NUMBER ARE ODD!
    return max(a, b)

In [10]:
lesser_of_two_evens(2, 4)

4

In [11]:
lesser_of_two_evens(3, 5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [28]:
def animal_crackers(text):
  wordlist = text.lower().split()
    
  return wordlist[0][0] == wordlist[1][0]

In [29]:
# Check
animal_crackers('Levelheaded Llama')

True

In [32]:
# Check
animal_crackers('Crazy Kangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [36]:
def makes_twenty(n1, n2):
  return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [37]:
# Check
makes_twenty(20, 10)

True

In [38]:
# Check
makes_twenty(2, 3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
  first_letter = name[0]
  inbetween = name[1:3]
  fourth_letter = name[3]
  rest = name[4:]

  return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [42]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [46]:
def old_macdonald(name):
  first_half = name[:3]
  second_half = name[3:]

  return first_half.capitalize() + second_half.capitalize()

In [48]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [71]:
def master_yoda(text):  
  return ' '.join(text.split()[::-1])

In [72]:
# Check
master_yoda('I am home')

'home am I'

In [74]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [75]:
def almost_there(n):
  return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [76]:
# Check
almost_there(104)

True

In [77]:
# Check
almost_there(150)

False

In [78]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [85]:
def has_33(nums):
  for i in range(0, len(nums)-1):
    if nums[i] == 3 and nums[i+1] ==3:
      return True
  return False

In [86]:
# Check
has_33([1,3,3])

True

In [87]:
# Check
has_33([1, 3, 1, 3])

False

In [88]:
# Check
has_33([3,1,3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [92]:
def paper_doll(text):
  result = ''

  for char in text:
    result += char*3
  return result

In [93]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [94]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [106]:
def blackjack(a, b, c):
  
  if sum([a,b,c]) <= 21:
    return sum([a,b,c])
  elif 11 in [a,b,c] and sum([a,b,c]) - 10 <= 21:
    return sum ([a,b,c]) - 10
  else:
    return 'BUST'

In [107]:
#Check
blackjack(5,6,7)

18

In [108]:
#Check
blackjack(9,9,9)

'BUST'

In [109]:
#Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [114]:
def summer_69(arr):

  total = 0
  add = True

  for num in arr:
    while add:
      if num != 6:
        total += num
        break
      else:
        add = False
    while not add:
      if num != 9:
        break
      else:
        add = True
        break
  return total

In [115]:
# Check
summer_69([1, 3, 5])

9

In [117]:
# Check
summer_69([4, 5, 6, 7, 8, 9, 10])

19

In [118]:
# Check
summer_69([2, 1, 6,  9, 11])

14